attr==0.3.2
attrs==22.1.0
cchardet==2.1.7
charset_normalizer==2.1.1
configparser==3.8.1
cryptography==36.0.1
Cython==3.0.5
dl==0.1.0
docutils==0.16
html5lib==1.1
HTMLParser==0.0.2
ipython==8.17.2
ipywidgets==7.7.0
Jinja2==3.1.2
jnius==1.1.0
keyring==22.0.0
lockfile==0.12.2
lxml==4.9.1
numpy==1.20.0
Pillow==10.1.0
protobuf==4.25.0
pyOpenSSL==23.3.0
pytest==6.2.3
pywin32==300
railroad==0.5.0
Sphinx==7.2.6
tornado==6.2
trove_classifiers==2023.11.7
truststore==0.8.0
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
